.contacto-container {
    display: flex;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    background-color: #CDE6F5;
    color: #000;
    text-shadow: -2px 1px 0px #00ff2a;
}

//contacto form styles
.c-form-container {
    width: 90%;
    margin: 10px;
    font-size: 22px;
    border: 2px dashed black;
    label {
        border: 2px solid black;
        background-color: black;
        padding: 5px;
        width: 90%;
        margin: 15px;
        outline: none;
        color: #fff;
    }
    input {
        border: 2px solid black;
        padding: 5px;
        width: 90%;
        margin: 15px;
        outline: none;
    }
    input:focus {
        background-color: #FCE762;
        color: #FFFDED;
        font-size: 30px;
    }
    textarea:focus {
        background-color: #FCE762;
        color: #FFFDED;
        font-size: 25px;
    }
    button {
        border: 2px solid black;
        background-color: #ffffff;
        padding: 5px;
        margin: 12px;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        width: 40%;
        transition: 0.5s;
    }
    button:hover {
        background-color: black;
        color: white;
    }
    textarea {
        border: 2px solid black;
        min-height: 50px;
        resize: vertical;
        padding: 5px;
        width: 90%;
        margin: 15px;
        outline: none;
    }
}

//contact info styles
.c-info-container {
    width: 90%;
    padding: 12px;
    .cite {
        text-align: right;
        font-size: 16px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    }
    .info-title {
        margin-top: 50px;
        font-size: 60px;
        text-align: left;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }
    .media-link {
        font-size: 100px;
    }
    .footer-social-links {
        font-size: 16px;
        text-align: left;
        margin-bottom: 15%;
    }
    .footer-social-links a {
        width: 25px;
        height: 25px;
        line-height: 25px !important;
        position: relative;
        margin: 0 5px;
        margin-top: 20px;
        margin-right: 30px;
        text-align: center;
        display: inline-block;
        color: #111;
        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .footer-social-links a i,
    .footer-social-links a span {
        position: relative;
        top: 2px;
        left: 1px;
    }
    .footer-social-links a:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #111;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .footer-social-links a:hover {
        color: #fff;
    }
    .footer-social-links a:hover:before {
        background: #111;
    }
}