    header {
        background-color: #CDE6F5;
        border-bottom: solid 2px black;
    }
    
    .menu-items {
        display: inline-flex;
        justify-content: space-evenly;
        margin-top: 32px;
        font-size: 28px;
        position: relative;
        a {
            position: relative;
            right: 5%;
            color: #210029;
            font-size: 28px bold;
            text-decoration: none;
            padding: 2px 2px 2px 2px;
            text-shadow: -2px 1px 0px #fff;
        }
        .menu-item:hover {
            cursor: pointer;
            text-shadow: -2px 1px 0px #00ff2a;
        }
    }
    
    .logo {
        position: relative;
        left: 25%;
        width: 150px;
        align-items: center;
    }